.gutter:before {
  position: absolute;
  content: "";
  top: 0;
  left: 96px;
  width: 1px;
  height: 10%;
  background: #eaeaea;
  -webkit-transition: 1.3s ease;
  transition: 1.3s ease;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  opacity: 0.2;
  z-index: 1;
}

.gutter:after {
  position: absolute;
  content: "";
  top: 0;
  right: 96px;
  width: 1px;
  height: 10%;
  background: #eaeaea;
  -webkit-transition: 1.3s ease;
  transition: 1.3s ease;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  opacity: 0.2;
  z-index: 1;
}

.sub_section .inner {
  padding: 245px 0;
}

.sub_section.ani:before {
  height: 100%;
}

.sub_section.ani:after {
  height: 100%;
}

.flex_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub_top_title {
  overflow: hidden;
  font-size: 22px;
  font-weight: 500;
}

.sub_top_title span {
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
}

.sub_bottom_title {
  overflow: hidden;
  font-size: 78px;
  line-height: 1.4;
}

.sub_bottom_title span,
.sub_bottom_title strong {
  display: inline-block;
  font-size: 70px;
  line-height: 1.4;
}

.sub_bottom_title strong {
  display: inline-block;
  font-weight: 700;
}

.blue_text {
  color: #7288a8;
}

.sub_small_title {
  font-size: 17px;
  overflow: hidden;
  display: inline-block;
  font-size: 17px;
  margin-bottom: 60px;
  line-height: 2;
}

.sub_small_title span {
  display: inline-block;
  font-size: 17px;
}

.sub_mid_text {
  overflow: hidden;
  display: inline-block;
  font-size: 45px;
}

.sub_mid_text span {
  display: inline-block;
  font-size: 45px;
}

.sub_mid_text span strong {
  font-size: 45px;
  font-weight: 700;
}

.sub_mid_text + .sub_small_title {
  margin-top: 50px;
}

.tech_xl_title {
  font-size: 78px;
  overflow: hidden;
}

.tech_xl_title span {
  display: inline-block;
  font-size: inherit;
}

.tech_big_title {
  font-size: 60px;
  overflow: hidden;
}

.tech_big_title span {
  display: inline-block;
  font-size: inherit;
}

.tech_big_title strong {
  display: inline-block;
  font-size: inherit;
  font-weight: 700;
}

.tech_mid_title {
  font-size: 25px;
  overflow: hidden;
}

.tech_mid_title span {
  display: inline-block;
  font-size: inherit;
}

.tech_mid_title span strong {
  font-size: inherit;
}

.tech_small_title {
  font-size: 17px;
  overflow: hidden;
}

.tech_small_title span {
  display: inline-block;
  font-size: inherit;
}

.scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
}

.scroll span {
  position: relative;
  display: block;
  margin: 25px auto 0;
  width: 1px;
  height: 60px;
  background: #fff;
}

.scroll span:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -2.5px;
  top: 0;
  display: block;
  width: 5px;
  height: 25px;
  background: #fff;
  -webkit-animation: scrollBar 1.5s ease infinite alternate;
          animation: scrollBar 1.5s ease infinite alternate;
}

@-webkit-keyframes scrollBar {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
  }
}

@keyframes scrollBar {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
  }
}

.story_visual {
  position: relative;
  text-align: center;
  font-size: 0;
}

.story_visual .story_visual_text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

.story_visual .story_visual_text .sub_bottom_title {
  margin: 35px auto 55px;
}

.brand_story01 {
  position: relative;
}

.brand_story01 .gutter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.brand_story02 .gutter:before {
  opacity: 1;
}

.brand_story02 .gutter:after {
  opacity: 1;
}

.brand_story02.ani .gutter:before {
  height: 100%;
}

.brand_story02.ani .gutter:after {
  height: 100%;
}

.brand_story02 .flex_wrap {
  max-width: 1564px;
  padding: 0 52px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brand_story02 .left_box {
  padding-right: 50px;
}

.img_ani_box .img_wrap {
  width: 0%;
  overflow: hidden;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  opacity: 0;
}

.img_ani_box .img_wrap img {
  max-width: 1620px;
}

.img_ani_box.ani .img_wrap {
  width: 100%;
  overflow: hidden;
  opacity: 1;
}

.brand_story03 {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.brand_story03 .side_text {
  position: absolute;
  top: 1%;
  left: 0;
  color: #fff;
  text-shadow: 0 0 1px rgba(36, 40, 49, 0.5);
  font-size: 280px;
  height: 200px;
  line-height: 200px;
  width: 200px;
  white-space: nowrap;
  z-index: -1;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.brand_story03 .side_text.right {
  left: auto;
  right: 0;
}

.brand_story03 .sub_top_title span,
.brand_story03 .sub_bottom_title span {
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  opacity: 0;
  transform: translate(0, 100px);
}

.brand_story03 .sub_bottom_title {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  margin: 15px auto 55px;
}

.brand_story03.ani .sub_top_title span,
.brand_story03.ani .sub_bottom_title span {
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.brand_scene01 {
  height: 100vh;
  position: relative;
  background: #242831;
  overflow: hidden;
  padding-top: 129px;
}

.brand_scene01 .gutter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.brand_scene01.ani .gutter:before {
  height: 100%;
}

.brand_scene01.ani .gutter:after {
  height: 100%;
}

.cosmetic_slider .slick-list {
  overflow: visible;
}

.cosmetic_slider .slick-slide.scene_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-left: 96px;
}

.cosmetic_slider .slick-slide.scene_box .left_box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 47%;
  padding: 0 47px 5%;
  color: #fff;
}

.cosmetic_slider .slick-slide.scene_box .left_box .sub_top_title {
  color: rgba(255, 255, 255, 0.5) !important;
  position: Absolute;
  top: 20%;
  left: 47px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5) !important;
}

.cosmetic_slider .slick-slide.scene_box .left_box .sub_top_title > span {
  letter-spacing: 0;
  opacity: 1;
  -webkit-transform: translate(0, 200px);
          transform: translate(0, 200px);
  -webkit-transition: opacity 1.5s ease, -webkit-transform 0.75s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  transition: opacity 1.5s ease, -webkit-transform 0.75s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  transition: transform 0.75s cubic-bezier(0.46, 0.03, 0.52, 0.96), opacity 1.5s ease;
  transition: transform 0.75s cubic-bezier(0.46, 0.03, 0.52, 0.96), opacity 1.5s ease, -webkit-transform 0.75s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.cosmetic_slider .slick-slide.scene_box .left_box .sub_mid_text span,
.cosmetic_slider .slick-slide.scene_box .left_box .sub_mid_text strong {
  letter-spacing: -0.1em;
}

.cosmetic_slider .slick-slide.scene_box .left_box .sub_mid_text span {
  -webkit-transition: opacity 1.5s ease, -webkit-transform 0.75s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  transition: opacity 1.5s ease, -webkit-transform 0.75s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  transition: transform 0.75s cubic-bezier(0.46, 0.03, 0.52, 0.96), opacity 1.5s ease;
  transition: transform 0.75s cubic-bezier(0.46, 0.03, 0.52, 0.96), opacity 1.5s ease, -webkit-transform 0.75s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -webkit-transform: translate(0, 200px);
          transform: translate(0, 200px);
  opacity: 0;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.cosmetic_slider .slick-slide.scene_box .left_box .sub_small_title {
  line-height: 2;
}

.cosmetic_slider .slick-slide.scene_box .left_box .sub_small_title > span {
  line-height: 2;
  -webkit-transition: opacity 1.5s ease, -webkit-transform 0.75s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  transition: opacity 1.5s ease, -webkit-transform 0.75s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  transition: transform 0.75s cubic-bezier(0.46, 0.03, 0.52, 0.96), opacity 1.5s ease;
  transition: transform 0.75s cubic-bezier(0.46, 0.03, 0.52, 0.96), opacity 1.5s ease, -webkit-transform 0.75s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -webkit-transform: translate(0, 200px);
          transform: translate(0, 200px);
  opacity: 0;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.cosmetic_slider .slick-slide.scene_box .left_box .scene_dash {
  width: 60px;
}

.cosmetic_slider .slick-slide.scene_box .left_box.ani .sub_top_title span {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.cosmetic_slider .slick-slide.scene_box .left_box.ani .scene_num {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.cosmetic_slider .slick-slide.scene_box .left_box.ani .sub_mid_text span {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.cosmetic_slider .slick-slide.scene_box .left_box.ani .sub_small_title span {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.cosmetic_slider .slick-slide.scene_box .right_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 53%;
}

.cosmetic_slider .slick-slide.scene_box .right_box .img_wrap {
  width: 100%;
  font-size: 0;
  text-align: right;
  overflow: hidden;
}

.cosmetic_slider .slick-slide.scene_box .right_box .img_wrap img {
  display: inline-block;
  max-width: none;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.cosmetic_slider .slick-slide.scene_box.slide-active .right_box .img_wrap img {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.scene_num {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.3);
  -webkit-transition: opacity 1.5s ease, -webkit-transform 0.75s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  transition: opacity 1.5s ease, -webkit-transform 0.75s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  transition: transform 0.75s cubic-bezier(0.46, 0.03, 0.52, 0.96), opacity 1.5s ease;
  transition: transform 0.75s cubic-bezier(0.46, 0.03, 0.52, 0.96), opacity 1.5s ease, -webkit-transform 0.75s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  opacity: 0;
  -webkit-transform: translate(0, 200px);
          transform: translate(0, 200px);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  margin-bottom: 50px;
}

.scene_num em {
  color: #fff;
  font-weight: 700;
  font-style: normal;
}

.scene_dash {
  display: inline-block;
  vertical-align: middle;
  height: 10px;
  margin: 0 -6px;
  background: #fff;
  width: 0;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.brand_scene02 {
  position: relative;
  background: #384355;
  height: 100vh;
  overflow: hidden;
  padding: 0;
}

.brand_scene02 .gutter {
  height: 100%;
}

.brand_scene02.ani .gutter:before {
  height: 100%;
}

.brand_scene02.ani .gutter:after {
  height: 100%;
}

.repair_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-align: center;
  color: #fff;
}

.repair_wrap .sub_bottom_title {
  margin-bottom: 20px;
}

.repair_tile_wrap {
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.tech_dash {
  display: inline-block;
  width: 0;
  height: 5px;
  margin-top: -5px;
  background: #242831;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  vertical-align: middle;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.repair_tile {
  position: relative;
  display: inline-block;
  max-width: 635px;
  margin: 0 auto 0 0;
  padding-left: 45px;
  vertical-align: top;
}

.repair_tile .tech_dash a:hover .tit_box strong .tech_dash {
  width: 170px;
}

.repair_tile.rt02 {
  margin: 300px 0 0 150px;
}

.repair_tile .wrap {
  background: #fff;
  padding: 20px;
  text-align: left;
}

.repair_tile .img_box {
  font-size: 0;
  position: relative;
  overflow: hidden;
}

.repair_tile .img_box > img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.repair_tile .img_box span {
  position: absolute;
  bottom: 22px;
  right: 32px;
}

.repair_tile .tit_box {
  padding: 35px 20px 90px;
}

.repair_tile .tit_box strong {
  display: block;
  font-size: 46px;
  color: #242831;
  margin-bottom: 18px;
  font-weight: normal;
}

.repair_tile .tit_box p {
  display: block;
  font-size: 17px;
  color: #484848;
  line-height: 1.7;
}

.brand_story06 {
  background: #f0f2f5;
}

.brand_story06 .inner {
  padding: 150px 0 96px;
  text-align: center;
}

.advance_tit {
  margin-bottom: 60px;
}

.pd_list_wrap {
  max-width: 1636px;
  margin: 0 auto 60px;
}

.pd_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pd_list li {
  margin-top: 20px;
  position: relative;
  padding: 0 12px;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pd_list li a {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding-bottom: 17px;
}

.pd_list li a .img_wrap {
  padding-top: 12%;
}

.pd_list li a .img_wrap img {
  display: block;
  width: 100%;
}

.pd_list li a .text_wrap {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  padding-top: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pd_list li a .text_wrap strong {
  display: block;
  font-size: 21px;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 2px;
  color: #242831;
}

.pd_list li a .text_wrap p {
  display: none;
  font-size: 20px;
  font-style: normal;
  color: #242424;
  font-weight: 500;
}

.pd_list li:hover > a {
  background: #fff;
  border-color: #fff;
}

.pd_list li:hover > a .text_wrap {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.pd_list li:hover .btn_wrap {
  bottom: 0px;
  opacity: 1;
  visibility: visible;
}

.pd_list .btn_wrap {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -40px;
  padding: 10px 22px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pd_list .badge {
  position: absolute;
  top: 30px;
  left: 30px;
  display: inline-block;
}

.sub_wrap {
  padding-top: 130px;
}

.tech_common {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 130px);
}

.tech_common .btn_wrap {
  margin-top: 140px;
}

body.flag-ani .live01 .gutter:before, body.flag-ani .live01 .gutter:after {
  height: 100%;
}

.live01 .gutter:before, .live01 .gutter:after {
  opacity: 1;
}

.live_title {
  margin-top: 200px;
}

.live_title .tech_xl_title span {
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.live_title .tech_xl_title.ani span {
  -webkit-transform: translate(0, 0px);
          transform: translate(0, 0px);
  opacity: 1;
}

.live_title .tech_mid_title span {
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.live_title .tech_mid_title.ani span {
  -webkit-transform: translate(0, 0px);
          transform: translate(0, 0px);
  opacity: 1;
}

.live_title .tech_small_title {
  font-size: 18px;
}

.live_title .tech_small_title span {
  font-size: inherit;
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.live_title .tech_small_title.ani span {
  -webkit-transform: translate(0, 0px);
          transform: translate(0, 0px);
  opacity: 1;
}

.live02 {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.live02 .bg_text {
  position: absolute;
  top: 200px;
  left: 0;
  color: #fff;
  text-shadow: 0 0 1px #242831;
  height: 200px;
  line-height: 200px;
  width: 200px;
  white-space: nowrap;
  z-index: -1;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 280px;
  opacity: 0.5;
}

.live02 .bg_text.right {
  left: auto;
  right: 0;
}

.live02 .tech_dash {
  margin: 0 10px;
}

.live02 .tech_mid_title {
  margin-bottom: 20px;
}

.live02 .tech_small_title {
  margin-bottom: 60px;
}

.live02 .img_ani_box {
  display: inline-block;
  max-width: 90%;
  margin: 0 auto;
}

.tsdt01.ani .gutter:before, .tsdt01.ani .gutter:after,
.tsdt02.ani .gutter:before,
.tsdt02.ani .gutter:after {
  height: 100%;
}

.tsdt01 {
  margin-top: -220px;
  background: #1f232d;
  margin-top: -220px;
  text-align: center;
}

.tsdt01 .inner {
  max-width: 1480px;
  margin: 0 auto;
  padding: 430px 0 160px 0;
}

.tsdt01 .img_ani_box {
  position: relative;
  display: inline-block;
}

.tsdt01 .img_ani_box .text_wrap {
  position: absolute;
  left: 90%;
  bottom: 0;
  width: 100%;
  min-width: 520px;
  text-align: left;
  font-size: 34px;
  color: #fff;
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  opacity: 0;
}

.tsdt01 .img_ani_box .text_wrap strong {
  font-size: inherit;
  display: block;
  margin-bottom: 35px;
}

.tsdt01 .img_ani_box .text_wrap p {
  font-size: 18px;
  margin-bottom: 60px;
}

.tsdt01 .img_ani_box.ani .text_wrap {
  -webkit-transform: translate(0, 0px);
          transform: translate(0, 0px);
  opacity: 1;
}

.tsdt01_wrap {
  position: relative;
  margin-top: 100px;
}

.tsdt01_tit {
  position: absolute;
  top: 5%;
  left: 0;
  color: #fff;
  text-align: left;
}

.tsdt01_tit b {
  font-weight: 400;
}

.tsdt01_tit p span {
  opacity: 0;
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.tsdt01_tit.ani p span {
  opacity: 1;
  -webkit-transform: translate(0, 0px);
          transform: translate(0, 0px);
}

.tsdt02 {
  position: relative;
}

.tsdt02 .gutter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.tsdt02 .gutter:before, .tsdt02 .gutter:after {
  opacity: 1;
}

.tsdt02 .inner {
  max-width: 1480px;
  margin: 0 auto;
}

.tsdt02 .tsdt02_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 73%;
  background: #384355;
  z-index: 2;
}

.tsdt02 .tsdt02_bg .gutter {
  height: 100%;
}

.tsdt02 .tsdt02_bg .gutter:before, .tsdt02 .tsdt02_bg .gutter:after {
  opacity: 0.2;
}

.tsdt02_wrap {
  padding-top: 160px;
  padding-bottom: 180px;
  position: relative;
  color: #fff;
  z-index: 2;
  max-width: 1480px;
  margin: 0 auto;
}

.tsdt02_tit .tech_big_title span,
.tsdt02_tit .tech_big_title strong {
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.tsdt02_tit .tech_big_title strong {
  font-size: 68px;
  font-weight: 700;
}

.tsdt02_tit .tech_big_title.ani span,
.tsdt02_tit .tech_big_title.ani strong {
  -webkit-transform: translate(0, 0px);
          transform: translate(0, 0px);
}

.tsdt02_tit .tech_small_title span {
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  line-height: 2;
}

.tsdt02_tit .tech_small_title.ani span {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.cert_wrap {
  max-width: 1320px;
  margin: 30px auto;
}

.cert_wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cert_wrap ul li {
  width: 33.333%;
  margin: 0 40px;
}

.cert_wrap ul li p {
  font-size: 22px;
  margin-top: 20px;
  color: #d3d3d3;
}

.tech_tab {
  border: 1px solid #eaeaea;
  border-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
  opacity: 0;
  -webkit-transition: all 1s cubic-bezier(0, 0.72, 0.44, 0.99);
  transition: all 1s cubic-bezier(0, 0.72, 0.44, 0.99);
}

.tech_tab li {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.tech_tab li:hover .tech_tab_bg {
  opacity: 1;
}

.tech_tab.ani {
  -webkit-transform: translate(0, 0px);
          transform: translate(0, 0px);
  opacity: 1;
}

.tech_tab_bg {
  font-size: 0;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  opacity: 0;
}

.tech_tab_text {
  position: absolute;
  left: 0;
  top: 0;
  padding: 6% 0 0 80px;
  height: 100%;
}

.tech_tab_text strong {
  display: block;
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 20px;
}

.tech_tab_text p {
  font-size: 17px;
  margin-bottom: 60px;
  line-height: 2;
}

.tech_tab_text .btn_wrap {
  position: absolute;
  bottom: 60px;
  left: 80px;
  text-align: left;
}

@media screen and (max-width: 1895px) {
  .cosmetic_slider .slick-slide.scene_box .left_box .sub_mid_text {
    font-size: 43px;
  }
  .cosmetic_slider .slick-slide.scene_box .left_box .sub_mid_text strong,
  .cosmetic_slider .slick-slide.scene_box .left_box .sub_mid_text span {
    font-size: 43px;
  }
}

@media screen and (max-width: 1853px) {
  .sub_top_title {
    font-size: 21px;
  }
  .sub_top_title span {
    font-size: 21px;
  }
  .sub_bottom_title {
    font-size: 68px;
  }
  .sub_bottom_title span,
  .sub_bottom_title strong {
    font-size: 68px;
  }
  .brand_story02 .sub_bottom_title {
    font-size: 60px;
  }
  .brand_story02 .sub_bottom_title strong {
    font-size: 60px;
  }
  .brand_story02 .sub_bottom_title span {
    font-size: 60px;
  }
  .cosmetic_slider .slick-slide.scene_box .left_box .sub_mid_text {
    font-size: 38px;
  }
  .cosmetic_slider .slick-slide.scene_box .left_box .sub_mid_text strong,
  .cosmetic_slider .slick-slide.scene_box .left_box .sub_mid_text span {
    font-size: 38px;
  }
  .sub_bottom_title {
    font-size: 60px;
  }
  .sub_bottom_title span {
    font-size: inherit;
  }
}

@media screen and (max-width: 1679px) {
  .gutter {
    padding: 0 60px;
  }
  .gutter:before {
    left: 60px;
  }
  .gutter:after {
    left: 60px;
  }
  .story_visual .story_visual_text .sub_bottom_title {
    margin: 27px auto 50px;
    width: 360px;
  }
  .sub_top_title {
    font-size: 18px;
  }
  .sub_top_title span {
    font-size: 18px;
  }
  .sub_small_title {
    font-size: 16px;
  }
  .sub_small_title span {
    font-size: 16px;
  }
  .sub_section > .inner {
    padding: 140px 18px;
  }
  .brand_story02 .gutter:before {
    left: 60px;
  }
  .brand_story02 .gutter:after {
    right: 60px;
  }
  .brand_story02 .flex_wrap {
    padding: 0 12px;
  }
  .brand_story02 .sub_bottom_title {
    font-size: 52px;
  }
  .brand_story02 .sub_bottom_title span {
    font-size: 52px;
  }
  .brand_story02 .sub_bottom_title strong {
    font-size: 52px;
  }
  .brand_story02 .img_ani_box .img_wrap img {
    max-width: 1400px;
  }
  .cosmetic_slider .slick-slide.scene_box {
    padding-left: 78px;
  }
  .cosmetic_slider .slick-slide.scene_box .left_box {
    width: 46%;
    padding: 0 12px 8%;
  }
  .cosmetic_slider .slick-slide.scene_box .left_box .sub_top_title {
    top: 25%;
    left: 12px;
  }
  .cosmetic_slider .slick-slide.scene_box .left_box .sub_mid_text {
    font-size: 34px;
  }
  .cosmetic_slider .slick-slide.scene_box .left_box .sub_mid_text strong,
  .cosmetic_slider .slick-slide.scene_box .left_box .sub_mid_text span {
    font-size: 34px;
  }
  .cosmetic_slider .slick-slide.scene_box .left_box .sub_small_title {
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 16px;
  }
  .cosmetic_slider .slick-slide.scene_box .left_box .sub_small_title span {
    font-size: 16px;
  }
  .cosmetic_slider .slick-slide.scene_box .right_box {
    width: 54%;
  }
  .sub_mid_text + .sub_small_title {
    margin-top: 35px;
  }
  .repair_tile .wrap {
    max-width: 590px;
    padding: 15px;
  }
  .repair_tile .tit_box {
    padding: 25px 15px 60px;
  }
  .repair_tile .tit_box strong {
    font-size: 38px;
    margin-bottom: 15px;
  }
  .repair_tile .tit_box p {
    font-size: 15px;
  }
  .repair_tile.rt02 {
    margin-left: 90px;
  }
  .pd_list li a .text_wrap {
    font-size: 16px;
    padding-bottom: 5px;
  }
  .pd_list li a .text_wrap strong {
    font-size: 17px;
    padding-top: 5px;
    padding-bottom: 7;
  }
  .scroll span {
    height: 50px;
    margin-top: 10px;
  }
  .tech_xl_title {
    font-size: 66px;
  }
  .tech_xl_title span {
    font-size: inherit;
  }
  .tech_mid_title {
    font-size: 21px;
  }
  .tech_mid_title span {
    font-size: inherit;
  }
  .tech_small_title {
    font-size: 16px;
  }
  .tech_small_title span {
    font-size: inherit;
  }
  .live_title .tech_small_title {
    font-size: 16px;
  }
  .live_title .tech_small_title span {
    font-size: inherit;
  }
  .img_ani_box .img_wrap img {
    max-width: 1400px;
  }
  .tsdt01 .img_ani_box .text_wrap {
    font-size: 30px;
  }
  .tsdt01 .img_ani_box .text_wrap strong {
    font-size: 38px;
  }
  .tsdt01 .img_ani_box .text_wrap p {
    font-size: 16px;
  }
  .tsdt01 .inner {
    padding: 230px 30px 120px;
  }
  .tech_tab_text p {
    font-size: 16px;
  }
  .tsdt02_wrap {
    padding: 110px 5px 125px;
  }
}

@media screen and (max-width: 1600px) {
  .sub_small_title {
    font-size: 15px;
  }
  .sub_small_title span {
    font-size: 15px;
  }
  .sub_bottom_title {
    font-size: 52px;
  }
  .sub_bottom_title span,
  .sub_bottom_title strong {
    font-size: 52px;
  }
  .cosmetic_slider .slick-slide.scene_box .left_box .sub_mid_text {
    font-size: 32px;
  }
  .cosmetic_slider .slick-slide.scene_box .left_box .sub_mid_text strong,
  .cosmetic_slider .slick-slide.scene_box .left_box .sub_mid_text span {
    font-size: 32px;
  }
  .cosmetic_slider .slick-slide.scene_box .left_box .sub_small_title {
    margin-top: 28px;
    font-size: 15px;
  }
  .cosmetic_slider .slick-slide.scene_box .left_box .sub_small_title span {
    font-size: 15px;
  }
  .cosmetic_slider .slick-slide.scene_box .left_box .scene_dash {
    width: 45px;
    height: 5px;
  }
  .brand_story02 .img_ani_box .img_wrap img {
    max-width: 600px;
  }
  .brand_story03 .sub_bottom_title span {
    font-size: 52px;
  }
  .repair_tile {
    max-width: 570px;
  }
  .repair_tile.rt02 {
    margin: 200px 0 0 3%;
  }
  .brand_story06 .inner {
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .live02 .img_ani_box .img_wrap img {
    max-width: 600px;
  }
  .live02 .tsdt01_wrap .img_ani_box .img_wrap img {
    max-width: 400px;
  }
}
/*# sourceMappingURL=sub.css.map */