$black: rgb(34, 34, 34);
$orange-red: rgb(255, 89, 46);
$white: rgb(255, 255, 255);
$warm-white: rgb(250, 248, 246);
$windows-blue: rgb(52, 132, 198);
$shamrock: rgb(0, 172, 77);
$medium-pink: rgb(240, 110, 165);
$orangey-yellow: rgb(252, 182, 20);
$red: #f00;
$warm-grey: #999;
$black-mob: #1d1d1d;
$reddish-grey: #8f7c70;
$tomato: #eb5c2a;
$warm-grey-2: #808080;
$red-orange: #f43b00;
$light-khaki: #fbf4e4;
$sapphire: #2a31a0;
$cobalt: #1b4793;

// FONT STYLE
.f--goldplay {
    font-family: "Goldplay", sans-serif;
}
.f--hgg {
    font-family: "HGGGOTHICSSI", sans-serif;
}
.f--cooper {
    font-family: "Cooper Black", sans-serif;
}
.f--red {
    color: $red;
}
.f--red-orange {
    color: $red-orange;
}
.f--orange {
    color: $orange-red;
}
.f--orange--stroke {
    -webkit-text-stroke: 2px $red-orange;
    -webkit-text-fill-color: transparent;
}

// COMMON STYLE
* {
    line-height: 1.5;
    &:focus {
        outline: 0;
    }
}
body {
    -webkit-text-size-adjust: none;
    &.no-scroll {
        touch-action: none;
        overflow: hidden;
        header {
            &.scroll-up {
                top: 0;
            }
            &.scroll-down {
                top: 0;
            }
        }
    }
}
.hidden {
    overflow: hidden;
    width: 1;
    height: 1;
    font-size: 0;
    text-indent: -99999px;
}
.only-mob {
    display: none;
}
.mt-48 {
    margin-top: 48px;
}
.mt-64 {
    margin-top: 64px;
}
.mt-70 {
    margin-top: 70px;
}
.mt-120 {
    margin-top: 120px;
}
.mt-128 {
    margin-top: 128px;
}
// BUTTON STYLE
.btn-wrapper {
    font-size: 0;
    text-align: center;
}
.ta-center {
    text-align: center;
}
.ta-right {
    text-align: right;
}
.btn--red-orange {
    display: inline-block;
    width: 280px;
    height: 70px;
    line-height: 70px;
    background: $tomato;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
}
.btn-store {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
    line-height: 48px;
    border: 1px solid rgba(34, 34, 34, 0.1);
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    color: $black;
    &.apple {
        &:before {
            content: "";
            display: inline-block;
            width: 26px;
            height: 26px;
            background: url("../images/common/apple.svg") no-repeat;
            vertical-align: middle;
            margin-top: -4px;
            margin-right: 13px;
        }
    }
    &.google {
        &:before {
            content: "";
            display: inline-block;
            width: 26px;
            height: 26px;
            background: url("../images/common/google.svg") no-repeat;
            vertical-align: middle;
            margin-top: -4px;
            margin-right: 13px;
        }
    }
}
.btn-qr {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url("../images/common/0UIwa.png") no-repeat;
    background-position: center center;
    background-size: 100px 100px;
    font-size: 0;
}
.btn-show-more {
    position: relative;
    display: inline-flex;
    width: 102px;
    height: 102px;
    svg {
        width: 102px;
        height: 102px;
        fill: none;
        tspan {
            font-family: auto;
            font-size: 11px;
            letter-spacing: 1px;
            font-weight: 700;
        }
        &:hover {
            animation: rotateText 5s linear infinite;
        }
    }
    .show-more-arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        display: flex;
        width: 24px;
        height: 24px;
        background: url("../images/common/ic_arrow.svg") no-repeat;
        background-position: center center;
        background-size: 24px 24px;
    }
}
@keyframes rotateText {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.btn-large {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 80px;
    line-height: 78px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid $black;
    padding: 0 32px;
    box-sizing: border-box;
    transition: 0.5s ease;
    &:hover {
        background: $orange-red;
        border: 1px solid $orange-red;
        span {
            color: #fff;
        }
    }
    &.arrow {
        justify-content: space-between;
        span {
            line-height: 78px;
        }
        &:hover {
            span {
                color: #fff;
            }
            border: 1px solid $orange-red;
            .in-arr {
                fill: rgba(255, 255, 255, 1);
            }
        }
    }
}
select {
    & + & {
        margin-left: 40px;
    }
    & + .search-input {
        margin-left: 40px;
    }
    border: 0;
    width: 100%;
    height: 50px;
    font-size: 18px;
    appearance: none;
    background: url("../images/common/select-arr.svg") no-repeat;
    background-position: center right;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(34, 34, 34, 0.2);
}
.filter-wrapper {
    font-size: 0;
    margin-top: 96px;
    form {
        display: flex;
        justify-content: flex-end;
        select {
            width: 200px;
            border-bottom: 2px solid $black;
        }
    }
}
.search-input {
    position: relative;
    padding-right: 30px;
    box-sizing: border-box;
    border-bottom: 2px solid $black;
    width: 280px;
    height: 50px;
    input {
        padding: 0;
        width: 100%;
        height: 48px;
        border: 0;
        font-size: 18px;
        caret-color: $orange-red;
        &::placeholder {
            color: #a7a7a7;
            font-weight: 300;
        }
    }
    button {
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 48px;
        font-size: 0;
        background: url("../images/common/ic_search.svg") no-repeat;
        background-size: 24px 24px;
        background-position: center center;
        font-size: 0;
        border: 0;
        cursor: pointer;
    }
}
@mixin table {
    table {
        width: 100%;
        font-size: 16px;
        font-weight: 700;
        text-align: left;
        th,
        td {
            padding: 17px 0 16px 60px;
            vertical-align: middle;
        }
        thead {
            th {
                color: $black;
                border-bottom: 2px solid $black;
            }
        }
        tbody {
            th,
            td {
                color: rgba(34, 34, 34, 0.7);
                border-bottom: 2px solid rgba(34, 34, 34, 0.2);
            }
        }
        tfoot {
            th,
            td {
                padding-top: 35px;
                padding-bottom: 35px;
                background-color: rgba(34, 34, 34, 0.04);
                vertical-align: middle;
                border-bottom: 2px solid rgba(34, 34, 34, 0.2);
            }
        }
    }
}
.table-style {
    border-top: 2px solid $black;
    @include table;
    & + .announce {
        margin-top: 20px;
    }
    &.terms {
        &.mt-18 {
            margin-top: 18px;
        }
        table {
            thead {
                th {
                    padding: 17px 0 16px;
                    font-size: 18px;
                    font-weight: 400;
                    vertical-align: middle;
                    & + th {
                        padding-left: 80px;
                    }
                }
            }
            tbody {
                td {
                    padding: 17px 0 16px;
                    font-weight: 400;
                    vertical-align: middle;
                    & + td {
                        padding-left: 80px;
                    }
                    p {
                        color: rgba(34, 34, 34, 0.7);
                    }
                }
            }
        }
    }
}
.announce {
    ul {
        li {
            font-size: 16px;
            &:before {
                content: "*";
                display: inline-block;
                width: 8px;
                margin-right: 4px;
                line-height: 1;
                vertical-align: bottom;
            }
            color: rgba(34, 34, 34, 0.4);
            span {
                color: $orange-red;
            }
        }
    }
}
// SKIP-NAV
.skip-nav {
    position: relative;
    a {
        position: absolute;
        width: 50%;
        line-height: 32px;
        height: 32px;
        text-align: center;
        background: $black;
        color: #fff;
        top: -32px;
        &:focus {
            top: 0;
        }
    }
}

// HEADER
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: $light-khaki;
    transition: 0.3s ease;
    > .wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                display: inline-block;
                img {
                    width: 117px;
                    height: 30px;
                }
            }
        }
    }
    &.scroll-down {
        top: -120px;
    }
    nav {
        display: inline-block;
        .depth2-bg {
            position: absolute;
            top: 120px;
            left: 0;
            opacity: 0;
            content: "";
            width: 100%;
            height: 0px;
            background: $light-khaki;
            transition: 0.5s ease;
        }
        &:hover {
            .depth2-bg {
                opacity: 1;
                height: 206px;
            }
        }
        &.no-bg {
            .depth2-bg {
                opacity: 0;
                height: 0px;
            }
        }
    }
    &.warm-white {
        .depth2-bg {
            background: $warm-white;
        }
    }
}

#gnb {
    display: flex;
    font-size: 0;
    > li {
        position: relative;
        display: inline-flex;
        > a {
            position: relative;
            display: flex;
            font-size: 18px;
            color: $black;
            padding: 0 44px;
            font-weight: 700;
            height: 120px;
            justify-content: center;
            align-items: center;
            &.on {
                color: $orange-red;
                & + .gnb-depth2 {
                    display: block;
                }
            }
            &:before {
                position: absolute;
                display: block;
                bottom: 0;
                left: 44px;
                right: 44px;
                height: 2px;
                content: "";
                background: $orange-red;
                transform: scaleX(0);
                transform-origin: top right;
                transition: all 0.3s ease-in-out;
            }
            &:focus {
                color: $red-orange;
                &:before {
                    transform: scaleX(1);
                    transform-origin: top left;
                }
            }
        }
        &:hover {
            & > a {
                color: $red-orange;
                &:before {
                    transform: scaleX(1);
                    transform-origin: top left;
                }
            }
            & > .gnb-depth2 {
                height: auto;
                padding: 40px 0 40px 45px;
                animation: menuToggle 300ms;
                animation-delay: 200ms;
                animation-fill-mode: forwards;
            }
        }
        &:last-child {
            a {
                padding-right: 0;
                &:before {
                    right: 0;
                }
                &:after {
                    display: none;
                }
            }
        }
    }
}

.gnb-depth2 {
    position: absolute;
    top: 120px;
    left: 0;
    opacity: 0;
    width: 120%;
    height: 0;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1;
    li {
        width: 120%;
        padding: 8px 0;
        box-sizing: border-box;
        a {
            font-size: 18px;
            color: $black;
            font-weight: 400;
            &:hover {
                color: $orange-red;
            }
            &:focus {
                color: $orange-red;
            }
            &.on {
                color: $orange-red;
            }
        }
    }
}
@keyframes menuToggle {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
footer {
    padding: 120px 0;
    box-sizing: border-box;
    background: #fff;
    .wrapper {
        max-width: 1288px;
        width: 100%;
        margin: 0 auto;
    }
}
.footer__top-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    nav {
        width: 73.6%;
    }
}
.footer-logo {
    display: inline-block;
    width: 192px;
    height: 49px;
    background: url("../images/common/dalkomm.svg") no-repeat;
    background-size: 192px 49px;
}
.footer-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    > li {
        > strong {
            font-size: 18px;
            color: $black;
            font-weight: 700;
        }
    }
}
.footer-menu__list {
    margin-top: 32px;
    li {
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
        a {
            position: relative;
            display: inline-block;
            font-size: 16px;
            font-weight: 400;
            color: rgba(34, 34, 34, 0.7);
            transition: 0.2s ease;
            &:before {
                position: absolute;
                content: "";
                width: 0;
                top: auto;
                bottom: 0;
                left: auto;
                right: 0;
                display: inline-block;
                height: 1px;
                background: rgba(34, 34, 34, 0.7);
                transition: 0.5s ease;
            }
            &:hover {
                color: $black;
                font-weight: 500;
                &:before {
                    right: auto;
                    left: 0;
                    width: 100%;
                }
            }
            &:focus {
                color: $black;
                font-weight: 500;
                &:before {
                    right: auto;
                    left: 0;
                    width: 100%;
                }
                &.on {
                    color: $red-orange;
                    font-weight: 400;
                    &:before {
                        background: $red-orange;
                    }
                }
            }
            &.on {
                color: $red-orange;
                font-weight: 400;
                &:before {
                    background: $red-orange;
                }
            }
        }
    }
}
.footer__bottom-content {
    display: flex;
    justify-content: space-between;
}
.family-site {
    select {
        display: inline-block;
        width: 307px;
        height: 87px;
        line-height: 87px;
        border: 0;
        border-bottom: 2px solid $black;
        box-sizing: border-box;
        font-size: 18px;
        font-weight: 700;
        color: $black;
        background: url("../images/common/select-plus.svg") no-repeat;
        background-size: 24px 24px;
        background-position: right 3px center;
        appearance: none;
    }
}
.etc-content {
    display: inline-block;
    width: 614px;
    address {
        font-size: 14px;
        color: rgba(34, 34, 34, 0.4);
        font-style: normal;
        font-weight: 400;
        a {
            display: inline-block;
            color: $black;
        }
        span {
            position: relative;
            display: inline-block;
            padding-right: 9px;
            margin-right: 6px;
            box-sizing: border-box;
            color: rgba(34, 34, 34, 0.4);
            &:last-child {
                &:after {
                    display: none;
                }
            }
            &:after {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                content: "";
                display: inline-block;
                width: 1px;
                height: 11px;
                background: rgba(34, 34, 34, 0.4);
            }
        }
    }
}
.footer-btn {
    > a {
        vertical-align: middle;
        padding: 0 32px;
        box-sizing: border-box;
        margin-right: 12px;
        &:last-child {
            margin-right: 0;
        }
    }
}
.ham {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 56px;
    height: 56px;
    padding: 0;
    font-size: 0;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;

    svg {
        width: 21px;
        height: 20px;
    }
    rect {
        width: 21px;
        height: 2px;
        fill: #000;
        transition: 0.2s ease;
    }
    &.is-x {
        .bar1 {
            transform: rotate(45deg) translate(5px, -3px);
        }
        .bar2 {
            opacity: 0;
        }
        .bar3 {
            transform: rotate(135deg) translate(-10px, -32px);
        }
    }
}
// MEDIA QUERY
@media screen and (max-width: 1440px) {
    .header {
        padding: 0 16px;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 1287px) {
    footer {
        padding: 120px 76px;
    }
    .footer-logo {
        display: none;
    }
    .footer__top-content {
        margin-bottom: 23px;
        nav {
            width: 100%;
        }
    }
    .footer__bottom-content {
        flex-wrap: wrap;
    }
    .etc-content {
        address {
            padding-top: 52px;
            padding-bottom: 35px;
        }
    }
    .footer-btn {
        > a {
            vertical-align: top;
        }
    }
    .btn-qr {
        margin-top: -25px;
    }
}
@media screen and (max-width: 960px) {
    .header {
        > .wrapper {
            h1 {
                margin: 12px 0;
                a {
                    img {
                        width: 102px;
                        height: 26px;
                    }
                }
            }
        }
        nav {
            display: block;
            position: fixed;
            top: 56px;
            right: -100%;
            width: 100%;
            height: 100%;
            padding-top: 50px;
            box-sizing: border-box;
            transition: none;
            background: #fff;
            &.is-open {
                display: block;
                right: 0;
                transition: 0.3s ease;
            }
            .depth2-bg {
                display: none;
            }
        }
    }
    .ham {
        display: flex;
    }
    #gnb {
        flex-direction: column;
        flex-wrap: wrap;
        > li {
            display: flex;
            flex-direction: column;
            > a {
                padding: 10px 16px;
                justify-content: flex-start;
                height: auto;
                font-size: 30px;
                &:before {
                    display: none;
                }
                &:after {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 20px;
                    content: "";
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background: url("../images/common/ic_arrow_down.svg")
                        no-repeat;
                }
                &.no-click + .gnb-depth2 {
                    display: block;
                }
            }
            &:hover {
                & > .gnb-depth2 {
                    padding: 10px;
                    animation: none;
                }
            }
        }
    }
    .gnb-depth2 {
        display: none;
        position: initial;
        height: auto;
        opacity: 1;
        padding: 10px;
        li {
            padding: 0;
            a {
                display: block;
                padding: 8px 16px;
                font-size: 14px;
                &:hover {
                    color: $black;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .only-mob {
        display: block;
    }
    .only-pc {
        display: none;
    }
}
@media screen and (max-width: 750px) {
    .mt-70 {
        margin-top: 10.667vw;
    }
    .btn--red-orange {
        width: 60.533vw;
        height: 58px;
        line-height: 58px;
        font-size: 18px;
    }
    .btn-qr {
        display: none;
    }
    footer {
        padding: 60px 16px;
    }
    .footer-menu {
        flex-direction: column;
        > li {
            > strong {
                position: relative;
                display: block;
                font-size: 14px;
                padding: 10px 0;
                box-sizing: border-box;
                &:after {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0px;
                    content: "";
                    display: flex;
                    width: 20px;
                    height: 20px;
                    background: url("../images/common/ic_arrow_down.svg")
                        no-repeat;
                }
            }
        }
    }
    .footer-menu__list {
        display: none;
        margin-top: 0;
        padding: 6px 10px;
        box-sizing: border-box;
        li {
            margin: 0;
            a {
                display: block;
                font-size: 12px;
                padding: 4px 0;
                box-sizing: border-box;
                &:before {
                    display: none;
                }
                &:hover {
                    font-weight: 400;
                    color: rgba(34, 34, 34, 0.7);
                }
                &.on {
                    &:hover {
                        font-weight: 400;
                        color: $red-orange;
                    }
                }
            }
        }
        &.open {
            display: block;
        }
    }
    .footer__top-content {
        padding-bottom: 20px;
        margin-bottom: 10px;
    }
    .etc-content {
        width: 100%;
        address {
            font-size: 11px;
            line-height: 1;
            span {
                &:after {
                    height: 9px;
                }
                &.mob-v-line {
                    padding-right: 0;
                    margin-right: 0;
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
    .footer-btn {
        font-size: 0;
        > a {
            width: calc(50% - 6px);
            font-size: 12px;
            padding: 0;
            margin-right: 12px;
            &:nth-child(2) {
                margin-right: 0;
            }
        }
    }
    .family-site {
        width: 100%;
        select {
            width: 100%;
            height: 64px;
            line-height: 64px;
            font-size: 14px;
            background-size: 20px 20px;
        }
    }
}
input[type="text"] {
    width: 100%;
    border: 0;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    caret-color: $orange-red;
    border-bottom: 1px solid rgba(34, 34, 34, 0.2);
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;
    &::placeholder {
        font-weight: 300;
        opacity: 0.6;
    }
}
textarea {
    resize: none;
    width: 100%;
    padding: 12px 0;
    border: 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(34, 34, 34, 0.2);
    transition: 0.5s ease;
    font-size: 18px;
    height: 50px;
    overflow: hidden;
    &:focus {
        overflow-y: auto;
        height: 120px;
    }
    &::placeholder {
        font-weight: 300;
        opacity: 0.6;
    }
}
input[type="text"],
select,
textarea {
    &:focus {
        -webkit-box-shadow: inset 0 -1px 0 0 $black;
        box-shadow: inset 0 -1px 0 0 black;
        border-bottom: 1px solid black;
    }
}
.radio-wrapper {
    margin-top: 12px;
}
.radio {
    position: relative;
    width: 24px;
    height: 24px;
    appearance: none;
    vertical-align: middle;
    margin: 0;
    &:before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid rgba(34, 34, 34, 0.4);
        box-sizing: border-box;
        cursor: pointer;
        transition: 0.2s border-color ease;
    }
    &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $black;
    }
    &:checked {
        &:before {
            border: 1px solid $black;
        }
        &:after {
            width: 8px;
            height: 8px;
            animation: toggleOnRadio 0.2s ease forwards;
        }
    }
    & + label {
        margin-left: 12px;
        line-height: 24px;
        vertical-align: middle;
    }
}
.icon-upload {
    display: flex;
    width: 24px;
    height: 50px;
    background: url("../images/common/ic_upload.svg") no-repeat;
    background-size: 16px 16px;
    background-position: center center;
}
.input-file-wrapper {
    position: relative;
    height: 50px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.2);
    box-sizing: border-box;
    .icon-upload {
        position: absolute;
        top: 0;
        right: 0;
    }
}
input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    appearance: none;
    cursor: pointer;
}
.input-wrapper {
    position: relative;
    font-size: 0;
}
input[type="search"] {
    width: 100%;
    height: 52px;
    border: 0;
    padding: 0 28px 0 24px;
    box-sizing: border-box;
    &::-webkit-search-cancel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 45px;
        width: 18px;
        height: 18px;
        background: red;
        background: url("../images/common/btn_delete.svg") no-repeat;
        background-position: center center;
        appearance: none;
    }
    &::placeholder {
        opacity: 0.6;
    }
    & + i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        display: flex;
        width: 20px;
        height: 20px;
        background: url("../images/common/ic_arrow_down.svg") no-repeat;
        background-position: center center;
        cursor: pointer;
    }
}
.search-input {
    button {
        height: 45px;
    }
}
.file-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    line-height: 50px;
    font-weight: 400;
    color: $black;
    opacity: 0.4;
    font-size: 16px;
    &.add {
        opacity: 1;
    }
}
@-webkit-keyframes toggleOnRadio {
    0% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
    }
    70% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(1.2);
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }
}
@keyframes toggleOnRadio {
    0% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
    }
    70% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(1.2);
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }
}
// MEDIA QUERY

@media screen and (max-width: 860px) {
    .btn-large {
        width: 100%;
    }
}
@media screen and(max-width: 750px) {
    .mt-120 {
        margin-top: 60px;
    }
    input[type="text"] {
        height: 45px;
        font-size: 14px;
        &::placeholder {
            font-size: 14px;
        }
    }
    select {
        font-size: 14px;
        height: 45px;
    }
    textarea {
        height: 60px;
        font-size: 14px;
        &::placeholder {
            font-size: 14px;
        }
    }
    .radio {
        + label {
            font-size: 14px;
        }
    }
    .btn-large {
        font-size: 14px;
        height: 60px;
        line-height: 58px;
    }
    .table-style {
        touch-action: pan-x;
        table {
            font-size: 14px;
        }
    }
    .announce {
        ul {
            li {
                font-size: 12px;
            }
        }
    }
    .input-file-wrapper {
        height: 45px;
        .icon-upload {
            top: 0px;
            height: 45px;
        }
    }
    .file-placeholder {
        line-height: 45px;
        font-size: 14px;
    }
    &.table-style {
        &.terms {
            table {
                width: 100%;
                thead {
                    th {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
